#list-item {
  padding: 10px;
  cursor: pointer;
}
/* style.css */


.chat-container {
  position: absolute;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-messages {
  overflow-y: auto; /* Add scrollbar if messages overflow */
  padding: 10px;
  left: 8%;
}

.chat-input {
  padding: 10px;
  background-color: #f0f0f0;

  /* Key changes to keep it at the bottom */
  position: relative; /* Position relative to its normal position */
  bottom: 0%; /* Stick to the bottom of the container */
  left: 8%;
}

#message-input {
  width: calc(92% - 100px); /* Adjust width as needed */
  padding: 5px;
  margin-right: 10px;
}

#send-button {
  padding: 5px 10px;
}

.chat-container {
  width: 400px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  border: 1px solid #ccc;
  overflow-y: scroll;
}

.message {
  padding: 10px;
  margin-bottom: 15px; /* Increased vertical margin */
  border-radius: 5px;
  max-width: 100%;
  clear: both;
}

.reverse {
  float: right;
  text-align: right;
  margin-left: auto; /* Push to the right */
}


.message.user {
  background-color: #f2f2f2; /* Light blue for user */
  float: right;
  text-align: right;
  margin-left: auto; /* Push to the right */
}

.message.other {
  background-color: #e0ffe0; /* Light gray for other user */
  float: left;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
}

