
<!--<mat-sidenav-container class="chat-container">-->
<!--  <mat-sidenav mode="side" opened>-->
<!--    <div class="list-demo">-->
<!--      <mat-list class="demo-list">-->
<!--        <div mat-subheader>Today</div>-->
<!--        @for (group of (groups | async); track group) {-->
<!--        <mat-list-item id = "list-item" matListItem (click)="doSomething(group)">-->
<!--          <img matListItemAvatar [src]="group.image" alt="Image of {{ group.name }}" />-->
<!--        <div matListItemTitle>{{ group.name }}</div>-->
<!--&lt;!&ndash;        <div matListItemLine>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>{{ group.subject }} &#45;&#45; </span>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>{{ group.message }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <mat-divider></mat-divider>-->
<!--      </mat-list-item>-->
<!--        }-->
<!--      </mat-list>-->
<!--    </div>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content mode="">-->
<!--    <div>-->
<!--      <div class="chat-messages">-->

<!--      </div>-->
<!--      <div class="chat-input">-->
<!--        <input type="text" id="message-input" placeholder="Type your message...">-->
<!--        <button id="send-button">Send</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<div class="list-demo">
  <mat-list class="demo-list">
    @for (job of (jobs | async); track job) {
      <mat-list-item id = "list-item" matListItem (click)="doSomethingElse(job)">
          <div matListItemTitle>{{ job.role }}</div>
          <div matListItemLine>
            <span>{{ job.company }} -- </span>
            <span>{{ job.location }}</span>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
    }
  </mat-list>
</div>
